<h1>Past Events</h1>
<ul>
    {% for event in past_events %}
        <li>
            <a href="{{ url_for('main.match_details', uuid=event.uuid) }}">
                <strong>{{ event.home_team }} vs {{ event.away_team }}</strong> - 
                <em>{{ event.commence_time.strftime('%Y-%m-%d %H:%M:%S') }}</em>
            </a>
        </li>
    {% endfor %}
</ul>

<h1>Ongoing Events</h1>
<ul>
    {% for event in ongoing_events %}
        <li>
            <a href="{{ url_for('main.match_details', uuid=event.uuid) }}">
                <strong>{{ event.home_team }} vs {{ event.away_team }}</strong> - 
                <em>{{ event.commence_time.strftime('%Y-%m-%d %H:%M:%S') }}</em>
            </a>
        </li>
    {% endfor %}
</ul>

<h1>Upcoming Events</h1>
<ul>
    {% for event in future_events %}
        <li>
            <a href="{{ url_for('main.match_details', uuid=event.uuid) }}">
                <strong>{{ event.home_team }} vs {{ event.away_team }}</strong> - 
                <em>{{ event.commence_time.strftime('%Y-%m-%d %H:%M:%S') }}</em>
            </a>
        </li>
    {% endfor %}
</ul>
