<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OddsScan</title>
</head>
<body>
    <header>
        <h1>OddsScan</h1>
    </header>

    <section>
        <h2>List of Events:</h2>
        <ul>
            {% if matches %}
                {% for match in matches %}
                    <li>
                        <a href="{{ url_for('main.match_details', event_id=match.event_id) }}">
                            {{ match.home_team }} vs {{ match.away_team }} - {{ match.commence_time }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>No upcoming events available.</li>
            {% endif %}
        </ul>
    </section>

    <footer>
        <p>&copy; 2025 OddsScan. All rights reserved.</p>
    </footer>
</body>
</html>
